body{
	/*background-color: #F2F2F2;*/
	background: url(img/1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;

}
/*h4{
	color: #0080AF;
	font-size: 25px;
	display: block;
	text-align: center;
	font-family: 'Sansita', sans-serif;
}*/
.top-header{
	background: rgba(0, 0, 0, 0.7);
}
.navbar {
    margin-bottom: 0;
    text-align: center;
    border: none;

}
.navbar-default {
  background-color: #FAFB3D;
 }

a {
    color: white;
    text-decoration: none;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	background-color: #FFFF00;
/*	padding-left: 10px;*/
}
.navbar-default .navbar-nav>li>a {
	color: black;
	display: block;
	font-size: 20px;
	font-family: 'Sansita', sans-serif;
}
.navbar-default .navbar-text{
	color: black;
	font-size: 15px;
	display: block;
	font-family: 'Sansita', sans-serif;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-text > a{
	color: inherit;
	text-decoration: none;
	padding: 5px;
}
.navbar-text > a:hover{
	color: white;
}
.form-group input[type='radio']{
	margin : 10px;
}

.input-group-btn{
	height:34px;
}

.blogCard{

	min-height: 242px;
	max-height: 242px;
	line-height: 18px;
	overflow: hidden;
}

.blogcard p{
	margin: 0 0 10px;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
display: -webkit-box;
overflow: hidden;
}

.blogcard .btn-primary {
	position: absolute;
	bottom: 32px;
}


.btn .btn-primary{
	position: absolute;
	bottom: 32px;
}
